/* Backend stuff */

@import './reset.css';
.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.scoreboard-form, .countdown-place, .challonge-place {
  margin: 10px;
}

.game, .round, .p2-setup label, .p1-setup label {
  margin-top: 10px;
}

.game {
  margin-bottom: 10px;
}

#p2country,
#p2countryClone,
#p1country,
#p1countryClone {
  text-transform: capitalize;
}
