/* Frontend stuff */

@import "./reset.css";
@import './layouts/shamsho.css';
@import './layouts/sf.css';
@import './layouts/dbz.css';
@import './layouts/sc.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
  color: #fff;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: transparent;
  overflow: hidden;
}

.hide {
  display: none;
}

.scoreboard {
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
}

.dbz img, .sf img {
  width: 60px;
  height: 35px;
}

#break-time {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 1080px;
  width: 1920px;
}

#countdown {
  position: fixed;
  top: 80%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 150px;
}

.round {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%, 0);
}
