/* Frontend stuff */
@import "./reset.css";
@import './layouts/shamsho.css';
@import './layouts/sf.css';
@import './layouts/dbz.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  color: #fff;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: transparent;
  overflow: hidden;
}

.scoreboard {
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
}


.dbz img,
.sf img {
  width: 60px;
  height: 35px;
}

.commentators {
  float: left;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

[class*="commentator-"] {
  margin: 10px;
}

.commentators .fa, .commentators .fas {
  float: left;
  font-size: 28px;
}

.commentators b {
  font-size: 28px;
  margin-left: 40px;
}