@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');

.dbz .scoreboard {
  font-family: 'Kanit', sans-serif;
  background-image: url('../../layouts/dbz.png');
}

.dbz {
  font-size: 28px;
}

.dbz .score {
  position: absolute;
  font-size: 32px;
}

.dbz .p1 .score {
  left: 515px;
}
.dbz .p2 .score {
  right: 515px;
}

.dbz .p1, .dbz .p2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 12px;
}

.dbz .p1 {
  left: 215px;
}

.dbz .p2 {
  right: 226px;
}

.dbz .p1>.country {
  box-shadow: 9px 0px 9px -9px rgba(255, 165, 0, 0.58);
  margin-right: 20px;
}

.dbz .p1>.team, 
.dbz .p1>.gamertag {
  margin-right: 20px;
  line-height: 1.3;
}

.dbz .p2>.team,
.dbz .p2>.gamertag {
  margin-right: 20px;
  line-height: 1.3;
}

.dbz .commentators {
  font-family: 'PT Sans Narrow', sans-serif;
}