@import '../main.css';

.scoreboard {
  background-image: url('../../layouts/sf.png');
}

.p1,
.p2 {
  top: 12px;
}

.p1 {
  left: 194px;
}

.p2 {
  right: 182px;
}

.p1 > .score,
.p2 > .score {
  top: 3px;
  font-size: 32px;
}

.p1 > .score {
  left: 535px;
}

.p2 > .score {
  right: 548px;
}

.country img {
  width: 60px;
  height: 35px;
}